/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



/* --------------------
    debug_section
-------------------- */
/* header_debug */
.debug #header{
    background-color: lightblue;
}

.debug .row {
    background-color: aqua;
    border: 3px black double;
}

.debug .logo , .debug .nav, .debug .button{
    background-color: orange;
    height: 1rem;
    border: 2px black dashed;
}
/* --------------------
   /debug_section
-------------------- */



/* --------------------
   utilities_section
-------------------- */
.d-flex{
    display: flex;
}

.col-1{
    width: calc(100% / 12);
}

.col-2{
    width: calc(100% / 12 * 2);
}

.col-3{
    width: calc(100% / 12 * 3);
}

.col-4{
    width: calc(100% /12 * 4);
}

.col-5{
    width: calc(100% / 12 * 5);
}

.col-6{
    width: 50%;
}

.col-7{
    width: calc(100% / 12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-9{
    width: calc(100% / 12 * 9);
}

.col-10{
    width: calc(100% / 12 * 10);
}

.col-11{
    width: calc(100% / 12 * 11);
}

.col-12{
    width: 100%;
}
/* --------------------
  /utilities_section
-------------------- */



/* --------------------
     general_css
-------------------- */
/* header */
#header, .container, .row{
    height: 3rem;

}
.container{
    width: 80%;
    margin: auto;
}

header .row{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
ul.d-flex{
    gap: 2rem;
    justify-content: center;
}
/* --------------------
     /general_css
-------------------- */